                                                      Experiment-III

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Find_S.xlsx')
df.head()

      Time Weather Temperature Company Humidity    Wind Goes
0  Morning   Sunny        Warm     Yes     Mild  Strong  Yes
1  Evening   Rainy        Cold      No     Mild  Normal   No
2  Morning   Sunny    Moderate     Yes   Normal  Normal  Yes
3  Evening   Sunny        Cold     Yes     High  Strong  Yes

In [10]:
#making an array of all the attributes
d = np.array(df)[:,:-1]
print("The attributes are: ",d)

The attributes are:  [['Morning' 'Sunny' 'Warm' 'Yes' 'Mild' 'Strong']
 ['Evening' 'Rainy' 'Cold' 'No' 'Mild' 'Normal']
 ['Morning' 'Sunny' 'Moderate' 'Yes' 'Normal' 'Normal']
 ['Evening' 'Sunny' 'Cold' 'Yes' 'High' 'Strong']]

In [13]:
#segragating the target that has positive and negative examples
target = np.array(df)[:,-1]
print("The target is: ",target)

The target is:  ['Yes' 'No' 'Yes' 'Yes']

In [21]:
def train(c,t):
    for i, val in enumerate(t):
        if val == "Yes":
            specific_hypothesis = c[i].copy()
            break
    for i, val in enumerate(c):
        if t[i] == "Yes":
            for x in range(len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x] = '?'
                else:
                    pass
    return specific_hypothesis

In [22]:
#obtaining the final hypothesis
print("The final hypothesis is:",train(d,target))

The final hypothesis is: ['?' 'Sunny' '?' 'Yes' '?' '?']